{% extends "base.html" %}
{% load static %}

{% block title %}Characters | Jak and Daxter Wiki{% endblock %}

{% block content %}
<section class="py-5 bg-dark text-light">
    <div class="container">

        <div class="text-center mb-5">
            <h1 class="display-4 fw-bold mb-3">Characters</h1>
            <p class="lead mx-auto" style="max-width: 700px;">
                Browse key heroes, villains, and supporting characters from the
                <strong>Jak and Daxter</strong> trilogy, from the Precursor Legacy
                to the final battle in Jak 3.
            </p>
        </div>

    </div>
</section>

<div class="container py-4">

    {% if user.is_staff %}
    <a href="{% url 'character_create' %}" class="btn btn-success mb-3">Add Character</a>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for character in characters %}
<div class="col">
    <a href="{% url 'character_detail' character.pk %}">
        <div class="card bg-dark h-100 card-hover">
            {% if "placeholder" in character.image.url %}
                <img src="{% static 'images/nobody.jpg' %}"
                class="card-img-top"
                alt="placeholder">
            {% else %}
                <img src="{{ character.image.url }}"
                    class="card-img-top"
                    alt="{{ character.name }}">
            {% endif %}

            <div class="card-body text-center">
                <h3 class="card-title mb-0">{{ character.name }}</h3>
            </div>
        </div>
    </a>
</div>
{% endfor %}

    </div>
</div>
{% endblock %}