{% extends "base.html" %}
{% load static %}

{% block title %}{{ character.name }} | Characters{% endblock %}

{% block content %}
<div class="container my-5">

    <h1>{{ character.name }}</h1>

    {% if character.quote %}
    <blockquote class="blockquote border-start border-warning ps-3">
        “{{ character.quote }}”
    </blockquote>
    {% endif %}

    <div class="row my-4">
        <div class="col-md-4">
            {% if "placeholder" in character.image.url %}
                <img src="{% static 'images/nobody.jpg' %}"
                class="img-fluid rounded"
                alt="placeholder">
            {% else %}
            <img src="{{ character.image.url }}" class="img-fluid rounded" alt="{{ character.name }}">
            {% endif %}
        </div>

        <div class="col-md-8">
            <h2>Bio</h2>

            <table class="table table-dark table-striped border-warning">
                <tbody>
                    <tr>
                        <th scope="row" class="text-warning">Sex</th>
                        <td>{{ character.sex }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-warning">Age</th>
                        <td>{{ character.age }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-warning">Skin</th>
                        <td>{{ character.skin }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-warning">Hair</th>
                        <td>{{ character.hair }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-warning">Eyes</th>
                        <td>{{ character.eyes }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-warning">Height</th>
                        <td>{{ character.height }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-warning">Weight</th>
                        <td>{{ character.weight }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-warning">Occupation</th>
                        <td>{{ character.occupation }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card bg-dark border-warning mb-4">
        <div class="card-body">
            <h3 class="card-title">Appearance</h3>
            <p class="card-text">{{ character.appearance }}</p>
        </div>
    </div>

    <div class="card bg-dark border-warning mb-4">
        <div class="card-body">
            <h3 class="card-title">Personality</h3>
            <p class="card-text">{{ character.personality }}</p>
        </div>
    </div>

    {% if user.is_staff %}
    <div class="mt-4">
        <a href="{% url 'character_update' character.pk %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'character_delete' character.pk %}" class="btn btn-danger">Delete</a>
    </div>
    {% endif %}
</div>
{% endblock %}