{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jak and Daxter Wiki{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'weapon_list' %}">Morph Gun</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Characters</a></li>
                <li><a href="#">Collectibles</a></li>
            </ul>
        </nav>
    </header>

    <!-- Page content -->
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>